{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}project/introduction/" role="button">Get Started</a>
      <p class="meta">Open-source <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> Licensed. <a href="https://github.com/CrowdSorcerer/crowdsource-smart-home-data">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Security aware 🛡️</h2>
        <p>Usage of secure data transfer protocols with data anonymization procedures</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast and efficient ⚡️</h2>
        <p>Gathering and transmition of home assistant data efficiently</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Big Data ready 🗄️</h2>
        <p>Usage of scalable data lakes, purpose-built for performance and reliability</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">CKAN compatible ⬛</h2>
        <p>Follows <a href="https://ckan.org/">CKAN</a> standard for data dumping on the Export API</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Lovelace dashboard compatible ❤️</h2>
        <p>Available Lovelace Card on the Home Assistant Community Store (<a href="https://hacs.xyz/">HACS</a>) for easy setup and maintenance</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Opt-out and be forgotten right ⚖️</h2>
        <p>The system complies with the <a href="https://gdpr-info.eu/">GDPR</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
